# ignore GNU global files
GPATH
GRTAGS
GSYMS
GTAGS

# ignore build artifacts
*.d
*.o
*.bin
*.elf
*.hex
*.dfu
*.axf
*.map
*.su

# ignore local makefile settings
src/local.mk

# ignore build directory
build

# Ignore macOS crap
.DS_Store
